ODI_T007_WhatsApp_Incoming_v2.json
{
  "name": "ODI_T007_WhatsApp_Incoming_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "WhatsApp POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        624
      ],
      "webhookId": "wa-post",
      "id": "dbf3f33e-2bab-4cab-9556-e2b2b1a358b5"
    },
    {
      "parameters": {
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "WhatsApp GET Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        432
      ],
      "webhookId": "wa-verify",
      "id": "eebb81eb-d8d6-4a98-847f-e9c98b22e66f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "token-valid",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "odi_whatsapp_verify_2026",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Token Valido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        432
      ],
      "id": "608ad959-1970-4cc1-ae8d-e202b6db339b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Responder Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        256,
        320
      ],
      "id": "2398b538-9f2a-40ca-8ab1-b281d6658431"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "name": "Responder Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        256,
        528
      ],
      "id": "08b13722-4151-4bf3-82df-ca5264afb757"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar payload de WhatsApp\nconst body = $json.body || $json;\n\n// Si no hay entry, ignorar\nif (!body.entry || !body.entry[0]) {\n  return [{ json: { ignore: true, reason: 'no_entry' } }];\n}\n\nconst entry = body.entry[0];\nconst change = entry.changes ? entry.changes[0] : null;\n\nif (!change || !change.value) {\n  return [{ json: { ignore: true, reason: 'no_changes' } }];\n}\n\nconst value = change.value;\n\n// Verificar si hay mensajes\nif (!value.messages || !value.messages[0]) {\n  return [{ json: { ignore: true, reason: 'no_messages', type: 'status_update' } }];\n}\n\nconst message = value.messages[0];\nconst contact = value.contacts ? value.contacts[0] : null;\n\n// Extraer texto segun tipo de mensaje\nlet text = '';\nif (message.type === 'text' && message.text) {\n  text = message.text.body || '';\n} else if (message.type === 'button' && message.button) {\n  text = message.button.text || '';\n} else if (message.type === 'interactive' && message.interactive) {\n  text = message.interactive.button_reply?.title || \n         message.interactive.list_reply?.title || '';\n}\n\nreturn [{\n  json: {\n    ignore: false,\n    canal: 'whatsapp',\n    from: message.from,\n    phone_number_id: value.metadata?.phone_number_id || '',\n    message_id: message.id,\n    timestamp: message.timestamp,\n    type: message.type,\n    text: text,\n    contact_name: contact?.profile?.name || 'Usuario',\n    wa_id: contact?.wa_id || message.from\n  }\n}];"
      },
      "name": "Normalizar WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        624
      ],
      "id": "0ca5a8b5-3466-466b-badc-60fd81720499"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "should-ignore",
              "leftValue": "={{ $json.ignore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Ignorar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        256,
        624
      ],
      "id": "56921851-2dd7-4fe1-9931-346665eaabc4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ignored\"}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "OK Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        528
      ],
      "id": "51358d27-3f36-42c0-a609-0bb51b050835"
    },
    {
      "parameters": {
        "jsCode": "// Mapear a contrato ODI\nconst text = $json.text || '';\nconst from = $json.from;\nconst contact_name = $json.contact_name;\n\n// Intent basico determinista\nlet intent = 'CONSULTA_GENERAL';\nconst textLower = text.toLowerCase();\n\nif (textLower.includes('precio') || textLower.includes('cuanto') || textLower.includes('vale')) {\n  intent = 'CONSULTA_PRECIO';\n} else if (textLower.includes('tiene') || textLower.includes('hay') || textLower.includes('disponible') || textLower.includes('pastilla') || textLower.includes('repuesto')) {\n  intent = 'FITMENT_QUERY';\n} else if (textLower.includes('comprar') || textLower.includes('quiero') || textLower.includes('necesito') || textLower.includes('llevo')) {\n  intent = 'INTENCION_COMPRA';\n} else if (textLower.includes('sirve') || textLower.includes('compatible') || textLower.includes('le queda')) {\n  intent = 'FITMENT_QUERY';\n}\n\nconst odi_event_id = 'ODI-WA-' + Date.now().toString(36).toUpperCase();\n\nreturn [{\n  json: {\n    intent: intent,\n    mensaje: text,\n    canal: 'whatsapp',\n    from: from,\n    user_id: from,\n    contact_name: contact_name,\n    message_id: $json.message_id,\n    phone_number_id: $json.phone_number_id,\n    odi_event_id: odi_event_id\n  }\n}];"
      },
      "name": "Mapear ODI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        720
      ],
      "id": "705c1788-53dd-4afd-ac2a-24d9b41e68b2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-fitment",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "FITMENT_QUERY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Es Fitment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        656,
        720
      ],
      "id": "9a080b16-a906-4cf0-8311-f67b3b5bf365"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://odi-m62-fitment:8802/fitment/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\": \"{{ $json.mensaje }}\"}",
        "options": {}
      },
      "name": "Consultar M6.2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        624
      ],
      "id": "7813dc39-88ff-455b-a36b-39460dd62cf6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/987256874463607/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMctRvQ8xgBQWH6RINW9cZB5h5DgKpjQEtAb5sbhz32LoNgJZA1rr0YhBvsyEZAGL8x8uET1ZBJBnZArys60tBZCjY7ZAI3Sx4oRpTyPxoHcxTt8s6EKTBz2LF1rZBZBOzPhmjOsP98eCAjuxa59mZBzpTEVLrcehTJUDajnMYZAZBcZCYZAtV01TeZAWScvKRtTIi3YWzmKC8nJT39HAkREk0z1ntq8oQMgN4GJeFMMZB11CNC7ctdmwZBgOsfY3EW7wrJQln8wn6WCZCejLu75ck8DHWPZC6hQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $('Mapear ODI').item.json.from }}\",\n    \"type\": \"text\",\n    \"text\": {\n      \"body\": \"Hola! Gracias por escribirnos. Un asesor te contactara pronto.\"\n    }\n  }\n]",
        "options": {}
      },
      "name": "Enviar Respuesta WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        624
      ],
      "id": "d5497ec2-c4f0-4d4c-9798-3b79c7715bd2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/987256874463607/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMctRvQ8xgBQcbBfzgutiq4kOEO6GK3RZBWZCaVXPOswS7mHChYkIHgcihEb8WVkHZBt5P5axGCeaIw4S8ZBuSIogU0ExXsZBZCBpv76nNc7o8sHe0Ade8aceItRs3FKxVIA7XlhRrlhnzQ0fcEgrTZCx9SWIVBAxPxwZCJiAy38KUxpJjPX2LgM3LYf6dJT62sKTonySuDyGTcogUvZC7T5tfvm5h1p1yfdqkbdorEHSZBfb6ZB34R0eZCmDMuGGZBD72bNyhAFXK6x81zdr3ZCTynPEeQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"{{ $('Mapear ODI').item.json.from }}\",\n    \"type\": \"text\",\n    \"text\": {\n      \"body\": \"Hola! Gracias por escribirnos. Un asesor te contactara pronto.\"\n    }\n  }\n]",
        "options": {}
      },
      "name": "Respuesta General",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        832
      ],
      "id": "c7428d44-495b-496b-86b9-1c672fc75f17"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "OK Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1264,
        720
      ],
      "id": "14cd6bef-d455-4f05-92af-a9faf8f70760"
    }
  ],
  "pinData": {
    "Enviar Respuesta WA": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "to": "{{ $('Mapear ODI').item.json.from }}",
          "type": "text",
          "text": {
            "body": "Hola! Gracias por escribirnos. Un asesor te contactara pronto."
          }
        }
      }
    ],
    "Respuesta General": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "to": "{{ $('Mapear ODI').item.json.from }}",
          "type": "text",
          "text": {
            "body": "Hola! Gracias por escribirnos. Un asesor te contactara pronto."
          }
        }
      }
    ]
  },
  "connections": {
    "WhatsApp GET Verify": {
      "main": [
        [
          {
            "node": "Token Valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valido": {
      "main": [
        [
          {
            "node": "Responder Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp POST": {
      "main": [
        [
          {
            "node": "Normalizar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar WhatsApp": {
      "main": [
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar": {
      "main": [
        [
          {
            "node": "OK Ignorado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear ODI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear ODI": {
      "main": [
        [
          {
            "node": "Es Fitment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Fitment": {
      "main": [
        [
          {
            "node": "Consultar M6.2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar M6.2": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta WA": {
      "main": [
        [
          {
            "node": "OK Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta General": {
      "main": [
        [
          {
            "node": "OK Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5ab63e2c-7ba6-4be6-bd9a-144ababa129e",
  "meta": {
    "instanceId": "c7e0026636987867295a8ef341c35f84cab3bc565ef2272e474cc5b1f37842df"
  },
  "id": "0sOxjIGFFrwJMCKysfkbj",
  "tags": []
}