ODI_v6_CORTEX.json
{
  "name": "ODI_v6_CORTEX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odi-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "Webhook Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 300],
      "webhookId": "odi-ingest"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// ODI v6 - NORMALIZER + CLASSIFIER + TRANSLATOR\n// Todo en un solo nodo para evitar problemas con Merge\n// ══════════════════════════════════════════════════════════════\nconst input = $json.body || $json;\nconst timestamp = new Date().toISOString();\nconst eventId = 'ODI-' + Date.now().toString(36).toUpperCase();\n\n// ═══════════════════════════════════════════════════════════════\n// 1. NORMALIZACIÓN\n// ═══════════════════════════════════════════════════════════════\nlet normalized = null;\n\n// WhatsApp Cloud API Format\nif (input.entry && input.entry[0]?.changes) {\n  const change = input.entry[0].changes[0];\n  const value = change?.value;\n  \n  if (!value?.messages?.[0]) {\n    return [{ json: { \n      ignore: true, \n      reason: 'status_update',\n      event_id: eventId \n    }}];\n  }\n  \n  const msg = value.messages[0];\n  const contact = value.contacts?.[0];\n  let text = '';\n  \n  switch(msg.type) {\n    case 'text': text = msg.text?.body || ''; break;\n    case 'button': text = msg.button?.text || ''; break;\n    case 'interactive': \n      text = msg.interactive?.button_reply?.title || \n             msg.interactive?.list_reply?.title || ''; \n      break;\n    default: text = msg[msg.type]?.caption || `[${msg.type}]`;\n  }\n  \n  normalized = {\n    event_id: eventId,\n    canal: 'whatsapp',\n    from: msg.from,\n    phone_number_id: value.metadata?.phone_number_id,\n    message_id: msg.id,\n    text: text,\n    original_text: text,\n    contact_name: contact?.profile?.name || 'Usuario',\n    timestamp: timestamp\n  };\n}\n// API Direct\nelse if (input.text || input.message || input.query) {\n  const text = input.text || input.message || input.query;\n  normalized = {\n    event_id: eventId,\n    canal: input.canal || 'api',\n    from: input.user_id || input.from || 'api-user',\n    phone_number_id: null,\n    message_id: eventId,\n    text: text,\n    original_text: text,\n    contact_name: input.contact_name || 'Usuario API',\n    timestamp: timestamp\n  };\n}\nelse {\n  return [{ json: { ignore: true, reason: 'unknown_format', event_id: eventId }}];\n}\n\nconst text = (normalized.text || '').toLowerCase().trim();\n\n// ═══════════════════════════════════════════════════════════════\n// 2. DETECCIÓN DE IDIOMA\n// ═══════════════════════════════════════════════════════════════\nlet detectedLang = 'ES';\nconst esWords = (text.match(/\\b(hola|buenos|buenas|tienen|necesito|quiero|gracias|precio|freno|filtro|cadena|aceite|pastilla|moto)\\b/gi) || []).length;\nconst enWords = (text.match(/\\b(hello|hi|need|want|please|price|brake|filter|chain|oil|motorcycle)\\b/gi) || []).length;\nconst ptWords = (text.match(/\\b(olá|oi|preciso|quero|obrigado|preço|freio|filtro|corrente|óleo|moto)\\b/gi) || []).length;\n\nif (enWords > esWords && enWords > ptWords) detectedLang = 'EN';\nif (ptWords > esWords && ptWords > enWords) detectedLang = 'PT';\nif (/[ãõ]/.test(text)) detectedLang = 'PT';\n\n// ═══════════════════════════════════════════════════════════════\n// 3. EXTRACCIÓN DE ENTIDADES\n// ═══════════════════════════════════════════════════════════════\nconst entities = {};\n\n// Marcas\nconst marcas = ['yamaha', 'honda', 'suzuki', 'kawasaki', 'bajaj', 'pulsar', 'ktm', 'tvs', 'akt', 'hero', 'auteco', 'kymco', 'benelli', 'cfmoto', 'zontes'];\nfor (const m of marcas) {\n  if (text.includes(m)) { entities.marca = m.toUpperCase(); break; }\n}\n\n// Modelos\nconst modelos = ['fz', 'mt', 'r15', 'r3', 'nmax', 'bws', 'xtz', 'ybr', 'fazer', 'cb', 'cbr', 'ninja', 'duke', 'dominar', 'ns', 'rs', 'discover', 'boxer', 'gixxer', 'agility'];\nfor (const m of modelos) {\n  if (text.includes(m)) { entities.modelo = m.toUpperCase(); break; }\n}\n\n// Año\nconst year = text.match(/\\b(20[0-2][0-9]|19[89][0-9])\\b/);\nif (year) entities.year = year[0];\n\n// Cilindraje\nconst cc = text.match(/\\b(\\d{2,4})\\s*cc\\b/i);\nif (cc) entities.cilindraje = cc[1] + 'cc';\n\n// Repuestos\nconst repuestos = {\n  'pastilla': 'pastilla de freno', 'freno': 'freno', 'filtro': 'filtro',\n  'aceite': 'aceite', 'cadena': 'cadena', 'llanta': 'llanta',\n  'bateria': 'batería', 'espejo': 'espejo', 'bujia': 'bujía',\n  'brake': 'pastilla de freno', 'filter': 'filtro', 'oil': 'aceite',\n  'chain': 'cadena', 'freio': 'pastilla de freno'\n};\nfor (const [k, v] of Object.entries(repuestos)) {\n  if (text.includes(k)) { entities.repuesto = v; break; }\n}\n\n// ═══════════════════════════════════════════════════════════════\n// 4. CLASIFICACIÓN DE INTENT\n// ═══════════════════════════════════════════════════════════════\nlet intent = 'GENERAL';\nlet goToCortex = false;\n\nif (entities.repuesto || entities.marca || entities.modelo) {\n  intent = 'FITMENT';\n  goToCortex = true;\n} else if (/^(hola|buenos|buenas|hi|hello|oi)/i.test(text)) {\n  intent = 'SALUDO';\n} else if (/\\b(precio|cuanto|price|how much)\\b/i.test(text)) {\n  intent = 'PRECIO';\n  goToCortex = true;\n} else if (/\\b(pedido|orden|order|tracking)\\b/i.test(text)) {\n  intent = 'ESTADO_PEDIDO';\n} else if (/\\b(ayuda|problema|help)\\b/i.test(text)) {\n  intent = 'SOPORTE';\n} else if (text.length > 20) {\n  intent = 'CONSULTA';\n  goToCortex = true;\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    ignore: false,\n    detected_lang: detectedLang,\n    needs_translation: detectedLang !== 'ES',\n    intent: intent,\n    entities: entities,\n    go_to_cortex: goToCortex\n  }\n}];"
      },
      "id": "processor",
      "name": "Procesar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ignore }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-ignore",
      "name": "Ignorar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-320, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ignored', reason: $json.reason, event_id: $json.event_id }) }}",
        "options": {}
      },
      "id": "response-ignored",
      "name": "OK Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-80, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.go_to_cortex }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-cortex",
      "name": "Usar Cortex?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-80, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8803/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"tony\",\n  \"k\": 5\n}",
        "options": { "timeout": 30000 }
      },
      "id": "cortex-query",
      "name": "ODI Cortex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Formatear respuesta de Cortex - v2 con mejor manejo\nconst input = $('Usar Cortex?').item.json;\nconst httpResponse = $json;\n\nlet response = '';\nlet voice = 'tony';\nlet cortexUsed = false;\nlet lobesUsed = [];\n\n// El HTTP Request puede devolver la respuesta en diferentes estructuras\n// Intentamos encontrar la respuesta de Cortex\nlet cortex = null;\n\n// Opción 1: Respuesta directa en $json\nif (httpResponse && httpResponse.answer) {\n  cortex = httpResponse;\n}\n// Opción 2: Respuesta en body\nelse if (httpResponse && httpResponse.body && httpResponse.body.answer) {\n  cortex = httpResponse.body;\n}\n// Opción 3: Respuesta en data\nelse if (httpResponse && httpResponse.data && httpResponse.data.answer) {\n  cortex = httpResponse.data;\n}\n\nif (cortex && cortex.answer) {\n  response = cortex.answer;\n  voice = cortex.voice || 'tony';\n  lobesUsed = cortex.lobe_used || [];\n  cortexUsed = true;\n} else {\n  // Fallback - algo salió mal con Cortex\n  response = 'No encontré información específica. ¿Puedes darme más detalles sobre la moto o el repuesto?';\n}\n\nreturn [{\n  json: {\n    ...input,\n    response_es: response,\n    response: response,\n    cortex_used: cortexUsed,\n    cortex_voice: voice,\n    cortex_lobes: lobesUsed,\n    _debug_http_keys: Object.keys(httpResponse || {})\n  }\n}];"
      },
      "id": "format-cortex",
      "name": "Formatear Cortex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "// Respuesta general sin Cortex\nconst data = $json;\nconst intent = data.intent;\nconst contact = data.contact_name || 'Usuario';\n\nlet response = '';\n\nswitch(intent) {\n  case 'SALUDO':\n    response = `¡Hola ${contact}! 👋 Soy ODI, tu asistente de repuestos de motos. ¿En qué puedo ayudarte?`;\n    break;\n  case 'ESTADO_PEDIDO':\n    response = 'Para consultar tu pedido necesito el número de orden. ¿Lo tienes?';\n    break;\n  case 'SOPORTE':\n    response = 'Entiendo que necesitas ayuda. Cuéntame más sobre el problema.';\n    break;\n  default:\n    response = `Soy ODI, especialista en repuestos de motos. 🏍️\\n\\nDime qué marca, modelo y año de moto tienes, y qué repuesto necesitas.`;\n}\n\nreturn [{\n  json: {\n    ...data,\n    response_es: response,\n    response: response,\n    cortex_used: false,\n    cortex_voice: 'ramona',\n    cortex_lobes: []\n  }\n}];"
      },
      "id": "general-response",
      "name": "Respuesta General",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.canal }}",
              "rightValue": "whatsapp",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-whatsapp",
      "name": "Es WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": {{ JSON.stringify($json.from) }},\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.response) }} }\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok_wa', event_id: $json.event_id }) }}",
        "options": {}
      },
      "id": "response-whatsapp",
      "name": "OK WhatsApp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Preparar respuesta API\nconst d = $json;\n\nreturn [{\n  json: {\n    status: 'ok',\n    event_id: d.event_id,\n    input: { text: d.original_text, canal: d.canal, lang: d.detected_lang },\n    processing: { intent: d.intent, entities: d.entities },\n    cortex: { used: d.cortex_used, voice: d.cortex_voice, lobes: d.cortex_lobes },\n    response: d.response\n  }\n}];"
      },
      "id": "prepare-api",
      "name": "Preparar API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "response-api",
      "name": "OK API",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 500]
    }
  ],
  "connections": {
    "Webhook Ingest": {
      "main": [[{ "node": "Procesar Input", "type": "main", "index": 0 }]]
    },
    "Procesar Input": {
      "main": [[{ "node": "Ignorar?", "type": "main", "index": 0 }]]
    },
    "Ignorar?": {
      "main": [
        [{ "node": "OK Ignored", "type": "main", "index": 0 }],
        [{ "node": "Usar Cortex?", "type": "main", "index": 0 }]
      ]
    },
    "Usar Cortex?": {
      "main": [
        [{ "node": "ODI Cortex", "type": "main", "index": 0 }],
        [{ "node": "Respuesta General", "type": "main", "index": 0 }]
      ]
    },
    "ODI Cortex": {
      "main": [[{ "node": "Formatear Cortex", "type": "main", "index": 0 }]]
    },
    "Formatear Cortex": {
      "main": [[{ "node": "Es WhatsApp?", "type": "main", "index": 0 }]]
    },
    "Respuesta General": {
      "main": [[{ "node": "Es WhatsApp?", "type": "main", "index": 0 }]]
    },
    "Es WhatsApp?": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "Preparar API", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [[{ "node": "OK WhatsApp", "type": "main", "index": 0 }]]
    },
    "Preparar API": {
      "main": [[{ "node": "OK API", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "odi-v6-simple",
  "meta": { "instanceId": "odi-production" },
  "id": "ODI_v6_CORTEX",
  "tags": ["odi", "cortex", "production"]
}
